{% extends 'main.html' %}

{% block content %}
    <h1>Reset password</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-field--wrapper">
            <label>Password</label>
            <input class="form-field--input" type="password" name="password1"/>
        </div>

        <div class="form-field--wrapper">
            <label>Re-enter password</label>
            <input class="form-field--input" type="password" name="password2"/>
        </div>

        <div class="form-field--wrapper">
            <input class="btn btn--primary" type="submit" value="Change Password"/>
        </div>
    </form>

{% endblock content %}