{% extends 'main.html' %}
{% load markdown_extras %}
{% load static %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href='{% static "css/event.css" %}'>



    <div class="section">
        <h1>{{event.name}}</h1>
    </div>
   
    {% if event.event_status == 'Ongoing' %}
    <div class="section" id="event--action--wrapper">
        {% if registered %} 
            <p class="text--success">You have already registed for this event || </p>
        {% else %}
            <a class="btn btn--primary"  href="{% url 'registration-confirmation' event.id %}">Register</a>
        {% endif %}

        {% if submitted %} 
            <p class="text--success">You have already submitted your project</p>
        {% else %}
            <a class="btn btn--secondary" href="{% url 'project-submission' event.id %}">Submit Project</a>
        {% endif %}
    
    </div>
    {% else %}
        <p>Registration closed for this event.</p>
    {% endif %}

    <div class="markdown-body">
        {{event.description| markdown | safe }}
    </div>

    <div class="users--lists section">
        {% for user in event.participants.all %}
            <a href="{% url 'profile' user.id%}">
                <div class="wrapper--user">
                    <div class="avatar__border">
                        <img class="user--avatar--sm" src="{{user.avatar.url}}"/>
                    </div>
        
                    <p>{{user.name}}</p>
            
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}