{% extends 'main.html' %}

{% block content %}

    <div class="section" id="home__hero">
        <div id="hero__content">
            <h3 id="intro--headline">Compete in monthly Hackathons and win cash prizes</h3>

            <p id="intro--subheadline">CodeBattles is a website where anyone can compete in beginner friendly coding & designing challenges and win prizes! Learn and collaborate with other devs to level up your skills.</p>
        </div>
    </div>


    <div>
        <div>
            <h3>Events</h3>
        </div>
        

        <div class="events--lists section">
            {% for event in events %}
         
                <a href="{% url 'event' event.id %}">
                    <div class="event__wrapper">
                        <h5 class="event__preview--title">{{event.name}}</h5>

                        <div class="event__preview__details">
                            <div class="dot__wrapper">
                                {% if event.event_status == 'Ongoing' %}
                                    <div class="dot dot--green"></div>
                                {% else %}
                                     <div class="dot dot--red"></div>
                                {% endif %}

                                <p>{{event.event_status}}</p>
                            </div>
                            <p>{{event.participants.all.count}} Participants</p>
                        </div>

                        <div>
                            <p>{{event.preview|linebreaks}}</p>
                        </div>
                        <div class="event__preview__details__bottom">
                            <div>
                                <p>Start Date:</p>
                                <p class="event--date">{{event.start_date|date:"d.m.Y"}}</p>
                            </div>

                            <div>
                                <p>End Date:</p>
                                <p class="event--date">{{event.end_date|date:"m-d-Y"}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>



    <section>
        <h3>Users : {{count}}</h3>

        <div class="users--lists section">
            {% for user in users %}
                <a href="{% url 'profile' user.id%}">
                    <div class="wrapper--user">
                        <div class="avatar__border">
                            <img class="user--avatar--sm" src="{{user.avatar.url}}"/>
                        </div>
            
                        <p>{{user.name}}</p>
                 
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="section paginator--wrapper">
            {% for page in pages %}
                <a class="btn btn--primary" href="?page={{page}}">{{page}}</a>
            {% endfor %}
        </div>
    </section>

    
{% endblock %}