<nav>


    <div id="logo--wrapper">
        <a href="{% url 'home' %}">
            <h4 id="logo--text">CodeBattles</h4>
        </a>
    </div>

    <div>

        <!-- <a href="#">Events</a> -->
        <!-- <a href="#">Hall of fame</a> -->
    </div>

    <div id="nav--col3">
        {% if request.user.is_authenticated %}
        <a class="btn btn--secondary" href="{% url 'account' %}">{{request.user.name}}</a>
        <a class="btn btn--primary" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="btn btn--secondary" href="{% url 'login' %}">Login</a>
        <a class="btn btn--primary" href="{% url 'register' %}">Register</a>

        {% endif %}
    </div>
</nav>