{% extends 'main.html' %}

{% block content %}
<div class="'edit-accinfo-container">
    <h1 class="form-field--title">Edit Account</h1>

    <div class="section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-field--wrapper">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
            <div class="form-field--wrapper">
                <input class="btn btn--primary formsubmit-btn" type="submit" value="Update Account" />
            </div>

        </form>
    </div>
</div>
{% endblock content %}